body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

.container1 {
  background-color: #fff;
}

.container2 {
  background-color: #3fb8b7;
}
.container3 {
  background-color: #97ddde;
}

.container2 button {
  background-color: #bcdd3d;
}

.container-row {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 375px) {
  .container-row {
    flex-direction: column;
  }
}